<div *ngIf="facade.state$ | async as state">
  <h2 *ngIf="state.isLoading"></h2>

  <div *ngIf="!state.isLoading">
    <div class="search-bar">
      <form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
        <input type="text" placeholder="Search..." formControlName="searchValue" />
      </form>
    </div>
    <table class="users-table">
      <thead>
        <tr>
          <th *ngFor="let column of columns" class="users-table-cell" (click)="sortTable(column)">
            {{ capitalize(column) }}
            <span *ngIf="isDescSorting(column)">▼</span>
            <span *ngIf="isAscSorting(column)">▲</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of facade.data$ | async as data">
          <td *ngFor="let column of columns" class="users-table-cell">
            {{ item[column] }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <app-pagination *ngIf="facade.pages$ | async as pages" [currentPage]="pages.pagination.page" [limit]="pages.pagination.limit"
    [total]="pages.count" (changePage)="changePage($event)"></app-pagination>   -->
    <app-pagination [currentPage]="pagination.page" [limit]="pagination.limit"
    [total]="state.count" (changePage)="changePage($event)"></app-pagination>
</div>